{% extends "base.html" %}
{% load static %}
{% block title %}Chatbot - Virtual Office{% endblock %}
{% block content %}
<div class="chatbot-container">
    <h2>Chatbot</h2>
    <div id="chatbot-display"></div>

    <!-- Conteneur pour l'input et le bouton -->
    <div class="chatbot-input-container">
        <input type="text" id="user-input" placeholder="Ecris ici !!" />
        <button id="send-button">Envoyer</button>
    </div>
</div>

<!-- Lien vers les fichiers CSS et JS -->
<link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
<script src="{% static 'js/chatbot.js' %}"></script>
{% endblock %}
