{% extends "base.html" %}
{% load static %}
{% block title %}Explorer - Virtual Office{% endblock %}
{% block content %}
<div id="explorer" class="glassmorphic">
  <!-- En-tête supérieur avec drive et actions -->
  <div id="explorer-header">
    <div id="drive-selector">
      {% for dt, drive in drives %}
        <a href="{% url 'explorer:view_by_drive' dt %}" class="drive-link {% if dt == selected_drive_type %}active{% endif %}">
          <i class="fa-solid {% if dt == 'personal' %}fa-user{% elif dt == 'common' %}fa-users{% else %}fa-shield-halved{% endif %}"></i>
          {{ drive.name }}
        </a>
      {% endfor %}
    </div>
    <div id="explorer-actions">
      <a href="{% url 'explorer:upload_file' current_directory.id %}" class="action-btn" title="Upload File">
        <i class="fa-solid fa-upload"></i>
      </a>
      <a href="{% url 'explorer:create_directory' current_directory.id %}" class="action-btn" title="New Folder">
        <i class="fa-solid fa-folder-plus"></i>
      </a>
      <a href="?sort=name" class="action-btn" title="Sort by Name">
        <i class="fa-solid fa-sort-alpha-down"></i>
      </a>
      <a href="?sort=uploaded_at" class="action-btn" title="Sort by Date">
        <i class="fa-solid fa-calendar"></i>
      </a>
    </div>
  </div>
  
<!-- Breadcrumbs améliorés -->
<div id="explorer-breadcrumbs">
  <span class="breadcrumb-driver">{{ current_directory.drive.name }}</span>
  &gt;
  {% if current_directory.drive.root and current_directory.drive.root.id %}
    <a href="{% url 'explorer:view' current_directory.drive.root.id %}">Root</a>
  {% else %}
    <span>Root</span>
  {% endif %}
  {% for crumb in current_directory.get_ancestors %}
    &gt; <a href="{% url 'explorer:view' crumb.id %}">{{ crumb.name }}</a>
  {% endfor %}
  &gt; <span class="breadcrumb-current">{{ current_directory.name }}</span>
</div>

  
  <div id="explorer-body">
    <!-- Sidebar avec arborescence -->
    <div id="explorer-sidebar">
      <h3>{{ current_directory.name }}</h3>
      {% if current_directory.parent %}
        <a href="{% url 'explorer:view' current_directory.parent.id %}" class="btn-back">
          <i class="fa-solid fa-arrow-left"></i> Parent
        </a>
      {% endif %}
      <ul>
        {% for sub in subdirectories %}
          <li>
            <a href="{% url 'explorer:view' sub.id %}">
              <i class="fa-solid fa-folder"></i> {{ sub.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <!-- Zone principale affichant dossiers et fichiers -->
    <div id="explorer-main">
      <div class="explorer-content">
        {% for sub in subdirectories %}
          <div class="explorer-item folder-item" data-id="{{ sub.id }}">
            <i class="fa-solid fa-folder explorer-icon"></i>
            <span class="item-title">{{ sub.name }}</span>
          </div>
        {% endfor %}
        {% for file in files %}
          <div class="explorer-item file-item" data-id="{{ file.id }}">
            <i class="fa-solid fa-file explorer-icon"></i>
            <span class="item-title">{{ file.name }}</span>
            <span class="item-meta">{{ file.uploaded_at|date:"d/m/Y H:i" }} ({{ file.extension }})</span>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/explorer.js' %}"></script>
{% endblock %}
